h1 {
    color: red;
}

#contenu{
    background-color:lightgrey;

}

a {
    color: green;
}


/*img[alt="monimg"]{
    position: absolute;
    right: 0;
    
}  */
.part2{
    text-align:right;
}

p:nth-child(2){
    text-align: center;
}
/*img[alt="monimg"]{
    margin-left:735px;
    
}

#p3{
    text-align: center;
}*/