#monimgg{
    width: 800px;
    height: 200px;
}
body{
    background-image: radial-gradient(at top center, #CCDAE0, #EDF2F4);
}

header, #monimgg{
   text-align: center; 
}

h1{
    color: #EF233C;
    font-size: 40px;
    font-weight: bold;
    font-family: Impact;
}

h3{
    color: #2B2D42;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline dotted;
}

article{
    border: 1px solid black;
}

article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #8D99AE;
}


footer{
    text-align: end;
}

ul{
    list-style-type: none;
}

a:link{
    color: #D90429;
}

a:visited{
    color: grey;
}

a:hover{
    color: #2B2D42;
}

label[for="nom"]::after{
    content: "*";
    color: red;
}

label[for="email"]::after{
    content: "*";
    color: red;
}
/*animation carousel*/

.carousel{
    max-width: 200px;
    margin: 100px auto;
    overflow: hidden;
    border: 1px solid black;
}

.carousel .slider{
    display: flex;
    animation: carousel 12s infinite ease-in-out;
}

.slider > img{
    background: #000;
    flex-shrink: 0;
    padding: 50px 0;
    width: 100%;
}


@keyframes carousel{
    0% {
        transform: translateX(0);
    }
    25%,
    45% {
        transform: translateX(-100%);
    }
    50%,
    70% {
        transform: translateX(-200%);
    }
    75%,
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }

}