table{
    border: double black;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
}

th{
    background-color: lightblue;
}

caption{
    font-weight: bold;
    font-size: 20px;
}
#th1, #th2, #th3, #td1, #td2{
    background-color: #C3B091;
}
